
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myAppUserLabel" translate="volunteercrowdApp.appUser.home.createOrEditLabel">Create or edit a AppUser</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="appUser.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="volunteercrowdApp.appUser.phoneNumber" for="field_phoneNumber">PhoneNumber</label>
            <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                    ng-model="appUser.phoneNumber"
                    ng-pattern="/([+]\d{2})?\d{9}/" />
            <div ng-show="editForm.phoneNumber.$invalid">
                <p class="help-block"
                    ng-show="editForm.phoneNumber.$error.pattern" translate="entity.validation.pattern" translate-value-pattern="([+]\d{2})?\d{9}">
                    This field should follow pattern "([+]\d{2})?\d{9}".
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="volunteercrowdApp.appUser.isOnline" for="field_isOnline">IsOnline</label>
            <input type="checkbox" class="form-control" name="isOnline" id="field_isOnline"
                    ng-model="appUser.isOnline"
                     />
        </div>

        <div class="form-group">
            <label translate="volunteercrowdApp.appUser.user" for="field_user">user</label>
            <select class="form-control" id="field_user" name="user" ng-model="appUser.user" ng-options="user as user.id for user in users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
