
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCurriculumLabel" translate="volunteercrowdApp.curriculum.home.createOrEditLabel">Create or edit a Curriculum</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.curriculum.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="volunteercrowdApp.curriculum.website" for="field_website">Website</label>
            <input type="text" class="form-control" name="website" id="field_website"
                    ng-model="vm.curriculum.website"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="volunteercrowdApp.curriculum.creationDate" for="field_creationDate">CreationDate</label>
                <div class="input-group">
                    <input id="field_creationDate" type="text" class="form-control" name="creationDate" datetime-picker="{{dateformat}}" ng-model="vm.curriculum.creationDate" is-open="vm.datePickerOpenStatus.creationDate"
                    required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('creationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.creationDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.creationDate.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.creationDate.$error.ZonedDateTimelocal" translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="volunteercrowdApp.curriculum.modificationDate" for="field_modificationDate">ModificationDate</label>
                <div class="input-group">
                    <input id="field_modificationDate" type="text" class="form-control" name="modificationDate" datetime-picker="{{dateformat}}" ng-model="vm.curriculum.modificationDate" is-open="vm.datePickerOpenStatus.modificationDate"
                    required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('modificationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.modificationDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.modificationDate.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.modificationDate.$error.ZonedDateTimelocal" translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setFile($file, vm.curriculum)">
            <label class="control-label" translate="volunteercrowdApp.curriculum.file" for="field_file">File</label>
            <div>
                <div class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.curriculum.fileContentType, vm.curriculum.file)" ng-if="vm.curriculum.file" target="_blank">open</a><br>
                    <span class="pull-left">{{vm.curriculum.fileContentType}}, {{byteSize(vm.curriculum.file)}}</span>
                    <button ng-click="vm.curriculum.file=null;vm.curriculum.fileContentType=null;"
                            ng-if="vm.curriculum.file"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setFile($file, vm.curriculum)" translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="file" id="field_file"
                    ng-model="vm.curriculum.file"
                     />
            <input type="hidden" class="form-control" name="fileContentType" id="field_fileContentType"
                    ng-model="vm.curriculum.fileContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" translate="volunteercrowdApp.curriculum.statement" for="field_statement">Statement</label>
            <input type="text" class="form-control" name="statement" id="field_statement"
                    ng-model="vm.curriculum.statement"
                    required />
            <div ng-show="editForm.statement.$invalid">
                <p class="help-block"
                    ng-show="editForm.statement.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="volunteercrowdApp.curriculum.vision" for="field_vision">Vision</label>
            <input type="text" class="form-control" name="vision" id="field_vision"
                    ng-model="vm.curriculum.vision"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="volunteercrowdApp.curriculum.mission" for="field_mission">Mission</label>
            <input type="text" class="form-control" name="mission" id="field_mission"
                    ng-model="vm.curriculum.mission"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
