<div>
    <h2 translate="volunteercrowdApp.naturalPersonForm.home.title">NaturalPersonForms</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="natural-person-form.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" translate="volunteercrowdApp.naturalPersonForm.home.createLabel">
                        Create new NaturalPersonForm
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right">
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery"
                               placeholder="{{ 'volunteercrowdApp.naturalPersonForm.home.search' | translate }}">
                        <span class="input-group-btn width-min">
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>

    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span translate="global.field.id">ID</span></th>
                <th><span translate="volunteercrowdApp.naturalPersonForm.birthDate">BirthDate</span></th>
                <th><span translate="volunteercrowdApp.naturalPersonForm.phoneNumber">PhoneNumber</span></th>
                <th><span translate="volunteercrowdApp.naturalPersonForm.image">Image</span></th>
                <th><span translate="volunteercrowdApp.naturalPersonForm.address">Address</span></th>
                <th><span translate="volunteercrowdApp.naturalPersonForm.city">City</span></th>
                <th><span translate="volunteercrowdApp.naturalPersonForm.zipCode">ZipCode</span></th>
                <th><span translate="volunteercrowdApp.naturalPersonForm.province">Province</span></th>
                <th><span translate="volunteercrowdApp.naturalPersonForm.country">Country</span></th>
                <th><span translate="volunteercrowdApp.naturalPersonForm.firstName">FirstName</span></th>
                <th><span translate="volunteercrowdApp.naturalPersonForm.lastName">LastName</span></th>
                <th><span translate="volunteercrowdApp.naturalPersonForm.email">Email</span></th>
                <th><span translate="volunteercrowdApp.naturalPersonForm.password">Password</span></th>
                <th><span translate="volunteercrowdApp.naturalPersonForm.passwordConfirm">PasswordConfirm</span></th>
                <th><span translate="volunteercrowdApp.naturalPersonForm.login">Login</span></th>
                <th><span translate="volunteercrowdApp.naturalPersonForm.acceptTermsAndConditions">AcceptTermsAndConditions</span>
                </th>
                <th><span translate="volunteercrowdApp.naturalPersonForm.gender">gender</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="naturalPersonForm in vm.naturalPersonForms track by naturalPersonForm.id">
                <td><a ui-sref="natural-person-form-detail({id:naturalPersonForm.id})">{{naturalPersonForm.id}}</a></td>
                <td>{{naturalPersonForm.birthDate | date:'medium'}}</td>
                <td>{{naturalPersonForm.phoneNumber}}</td>
                <td>
                    <img
                        data-ng-src="{{'data:' + naturalPersonForm.imageContentType + ';base64,' + naturalPersonForm.image}}"
                        style="max-height: 30px;" ng-if="naturalPersonForm.image"/>
                    {{naturalPersonForm.imageContentType}} {{byteSize(naturalPersonForm.image)}}
                </td>
                <td>{{naturalPersonForm.address}}</td>
                <td>{{naturalPersonForm.city}}</td>
                <td>{{naturalPersonForm.zipCode}}</td>
                <td>{{naturalPersonForm.province}}</td>
                <td>{{naturalPersonForm.country}}</td>
                <td>{{naturalPersonForm.firstName}}</td>
                <td>{{naturalPersonForm.lastName}}</td>
                <td>{{naturalPersonForm.email}}</td>
                <td>{{naturalPersonForm.password}}</td>
                <td>{{naturalPersonForm.passwordConfirm}}</td>
                <td>{{naturalPersonForm.login}}</td>
                <td>{{naturalPersonForm.acceptTermsAndConditions}}</td>
                <td>
                    <a ui-sref="gender-detail({id:naturalPersonForm.gender.id})">{{naturalPersonForm.gender.name}}</a>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="natural-person-form-detail({id:naturalPersonForm.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                        </button>
                        <button type="submit"
                                ui-sref="natural-person-form.edit({id:naturalPersonForm.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ui-sref="natural-person-form.delete({id:naturalPersonForm.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
