
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myDisponibilityLabel" translate="volunteercrowdApp.disponibility.home.createOrEditLabel">Create or edit a Disponibility</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="disponibility.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="volunteercrowdApp.disponibility.startMoment" for="field_startMoment">StartMoment</label>
            <input type="datetime-local" class="form-control" name="startMoment" id="field_startMoment"
                    ng-model="disponibility.startMoment"
                    required />
            <div ng-show="editForm.startMoment.$invalid">
                <p class="help-block"
                    ng-show="editForm.startMoment.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.startMoment.$error.ZonedDateTimelocal" translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="volunteercrowdApp.disponibility.endMoment" for="field_endMoment">EndMoment</label>
            <input type="datetime-local" class="form-control" name="endMoment" id="field_endMoment"
                    ng-model="disponibility.endMoment"
                    required />
            <div ng-show="editForm.endMoment.$invalid">
                <p class="help-block"
                    ng-show="editForm.endMoment.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.endMoment.$error.ZonedDateTimelocal" translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="volunteercrowdApp.disponibility.need" for="field_need">need</label>
            <select class="form-control" id="field_need" name="need" ng-model="disponibility.need" ng-options="need as need.id for need in needs track by need.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
