<div>
    <h2 translate="volunteercrowdApp.appUser.home.title">AppUsers</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="app-user.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="volunteercrowdApp.appUser.home.createLabel">
                        Create new AppUser
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'volunteercrowdApp.appUser.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="phoneNumber"><span translate="volunteercrowdApp.appUser.phoneNumber">PhoneNumber</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isOnline"><span translate="volunteercrowdApp.appUser.isOnline">IsOnline</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tokens"><span translate="volunteercrowdApp.appUser.tokens">Tokens</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="image"><span translate="volunteercrowdApp.appUser.image">Image</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.id"><span translate="volunteercrowdApp.appUser.user">user</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="appUser in vm.appUsers track by appUser.id">
                    <td><a ui-sref="app-user-detail({id:appUser.id})">{{appUser.id}}</a></td>
                    <td>{{appUser.phoneNumber}}</td>
                    <td>{{appUser.isOnline}}</td>
                    <td>{{appUser.tokens}}</td>
                    <td>
                        <img data-ng-src="{{'data:' + appUser.imageContentType + ';base64,' + appUser.image}}" style="max-height: 30px;" ng-if="appUser.image"/> {{appUser.imageContentType}} {{byteSize(appUser.image)}}
                    </td>
                    <td>
                        {{appUser.user.id}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="app-user-detail({id:appUser.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="app-user.edit({id:appUser.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="app-user.delete({id:appUser.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
