
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myNeedLabel" translate="volunteercrowdApp.need.home.createOrEditLabel">Create or edit a Need</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="need.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="volunteercrowdApp.need.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="need.title"
                    required />
            <div ng-show="editForm.title.$invalid">
                <p class="help-block"
                    ng-show="editForm.title.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="volunteercrowdApp.need.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="need.description"
                    required />
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="volunteercrowdApp.need.cathegory" for="field_cathegory">Cathegory</label>
            <input type="text" class="form-control" name="cathegory" id="field_cathegory"
                    ng-model="need.cathegory"
                    required />
            <div ng-show="editForm.cathegory.$invalid">
                <p class="help-block"
                    ng-show="editForm.cathegory.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="volunteercrowdApp.need.deleted" for="field_deleted">Deleted</label>
            <input type="checkbox" class="form-control" name="deleted" id="field_deleted"
                    ng-model="need.deleted"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="volunteercrowdApp.need.location" for="field_location">Location</label>
            <input type="text" class="form-control" name="location" id="field_location"
                    ng-model="need.location"
                    required />
            <div ng-show="editForm.location.$invalid">
                <p class="help-block"
                    ng-show="editForm.location.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="volunteercrowdApp.need.creationDate" for="field_creationDate">CreationDate</label>
            <input type="datetime-local" class="form-control" name="creationDate" id="field_creationDate"
                    ng-model="need.creationDate"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="volunteercrowdApp.need.modificationDate" for="field_modificationDate">ModificationDate</label>
            <input type="datetime-local" class="form-control" name="modificationDate" id="field_modificationDate"
                    ng-model="need.modificationDate"
                     />
        </div>

        <div class="form-group">
            <label translate="volunteercrowdApp.need.appUser" for="field_appUser">appUser</label>
            <select class="form-control" id="field_appUser" name="appUser" ng-model="need.appUser" ng-options="appUser as appUser.id for appUser in appusers track by appUser.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
